* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#output {
    width: 960px;
    height: 540px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}